.chart {
    flex: 4;
    color: gray;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);

    .title {
        margin: 5px 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225)
    }
} 